img {
  width: 100px;
  height: 100px;
}
header {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
body {
  margin: 0;
  background-image: url("../image/bg.webp");
}
li {
  display: inline;
  margin-right: 30px;
}
a {
  text-decoration: none;
}
main {
  background-color: beige;
  margin: 150px 150px 30px;
  padding: 30px;
  border: 2px solid black;
}

article {
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

footer {
  background-color: lightgreen;
  padding: 10px;
}
p.penutup {
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
}
